[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LFDR.MME"]
	path = LFDR.MME
	url = https://github.com/cran/LFDR.MME
[submodule "LFDREmpiricalBayes"]
	path = LFDREmpiricalBayes
	url = https://github.com/empiricalbayes/lfdrempiricalbayes
[submodule "SNVLFDR"]
	path = SNVLFDR
	url = https://github.com/empiricalbayes/snvlfdr
